<style>
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
    }

    table tr th,
    table tr td {
        border: 1px solid #eee;
        padding: 5px;
    }

    .color-green {
        color: green;
    }

    .color-red {
        color: red;
    }

    .color-gray {
        color: gray;
    }

    .color-orange {
        color: orange;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Invoice</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Due Date</th>
        </tr>
    </thead>

    <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.invoiceNumber }}</td>
                <td>{{ invoice.amount|format_currency('USD') }}</td>
                <td>1</td>
                <td>{{ invoice.dueDate in empty ? 'N/A': invoice.dueDate|date('m/d/Y') }}</td>
            </tr>
        {% else %}
            <tr><td colspan="4">No Invoices Found</td></tr>
        {% endfor %}
    </tbody>
</table>